body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-background-color: #2d2936;
  --sidebar-background: #1D1A22;
  --sidebar-text: #DEDEDE;
  --selected: #A39883;
  --border: #352E44;
  --secondary-color: #E6D0A1;
  --secondary-background-color: #363240;
  --hover-secondary-color: #dabe83;
  --five-star-bg: linear-gradient(to bottom,
                            rgb(112, 77, 82),
                            rgb(198, 165, 113));
  --four-star-bg: linear-gradient(to bottom,
                            rgb(61, 62, 105),
                            rgb(128, 93, 196));
  --four-star: rgb(175, 111, 195);
  --five-star: rgb(238, 170, 70);
}